.home {
    &__content {
        display: flex;
        flex-direction: column;

        &__sort-select {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__groups {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__add-new-button {
            align-self: center;
            margin: 10px;
        }

        &--loading {
            align-items: center;
        }
    }
}