.task-group-edit {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;

        &__back-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }

        &__name-input {
            flex: 1 1 100%;
            font-size: 30px;
        }
    }

    &__content {
        display: flex;
        flex: 1 1 auto;

        &__left-column {
            display: flex;
            flex: 0 0 25%;
            flex-direction: column;
            align-items: center;
            height: 100%;

            &__add-new-button {
                margin: 10px;
            }
        }

        &__right-column {
            flex: 1 1 auto;
            display: flex;
            padding: 5px;
        }
    }
}