.task-tile {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid black;

    &.--new {
        background-color: seagreen;
    }

    &.--in-progress {
        background-color: wheat;
    }

    &.--completed {
        background-color: indianred;
    }

    &:first-child {
        margin-top: 0;
    }

    &__remove-task-button {
        align-self: flex-end;

        &:hover {
            color: red;
        }
    }

    >span {
        text-align: center;
    }
}